@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i");
@import url(https://kenvue.brightspotcdn.com/resource/00000186-0f04-dffd-a3ae-ef8c85cb0000/styleguide/assets/fonts/NHaasGroteskDSPro-15UltTh.fbef1a031d2f12524f469423101908c8.ttf);
html,
body {
  margin: 0;
  height: 120%;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}
.header {
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 400px;
  color: #eee;
}
.header:after {
  content: "";
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    rgba(27, 32, 48, 0.8) 20%,
    rgba(51, 51, 51, 1) 100%
  );
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.header:before {
  content: "";
  width: 100%;
  height: 800px;
  position: absolute;
  transform: translateZ(0);
  background: #1b2030 url("../assets/SANQUA-2.jpg") 100% 0 no-repeat;
  background-size: 100%;
  animation: grow 5s linear 10ms infinite;
  transition: all 0.4s ease-in-out;
  z-index: -2;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-animation: grow 5s linear 10ms infinite;
}
.header a {
  color: #eee;
}

@keyframes grow {
  0% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1.2) translateY(-20px);
    -webkit-transform: scale(1.2) translateY(-20px);
    -moz-transform: scale(1.2) translateY(-20px);
    -ms-transform: scale(1.2) translateY(-20px);
    -o-transform: scale(1.2) translateY(-20px);
  }
}
#logoSide img {
  margin: 10px 20px;
  width: 80px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: 2px solid black;
}
#menuSide {
  position: relative;
}

.menu {
  display: block;
  width: 40px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 20px;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.menu:after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  position: absolute;
  margin: 0 auto;
  top: 5px;
  left: 0;
  right: 0;
  box-shadow: 0 8px, 0 16px;
}

.main-header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.header-akun {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  border: 2px solid #fff;
  border-radius: 5%;
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.dropdown-toggle i {
  margin-right: 10px;
}

.dropdown-toggle:hover {
  background-color: #003b57;
}

.dropdown-menu {
  height: 50px;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  cursor: pointer;
}

.logo img {
  max-width: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  align-content: center;
  margin: 20px 0 20px 20px;
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1;
  box-sizing: border-box;
}
.sides,
.info {
  flex: 0 0 auto;
  width: 50%;
}
.info {
  padding-top: 50px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
}

.info h4,
.meta {
  font-size: 0.7em;
}
.meta {
  font-style: italic;
}

.vue3-multi-stepper {
  margin: 20px 30px;
}
.has-error .form-control {
  border-color: red;
}

.has-error .text-danger {
  color: red;
}

.container-form {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
}
.form-group {
  align-items: center;
  margin: 25px 0;
  text-align: left;
}

.form-group input,
select {
  margin-top: 0.5em;
}

.help-block {
  color: #999;
  font-size: 13px;
  margin-top: 5px;
}
label {
  font-weight: 600;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}
select {
  appearance: none;
  background-image: url("https://www.w3.org/Graphics/SVG/WG/wiki/SVG_in_HTML");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px;
}
button {
  margin-top: 15px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  float: left;
}
button:hover {
  background-color: #ddd;
}
input[type="text"],
input[type="number"],
input[type="date"] {
  border: 1px solid #ccc;
  max-width: 100%;
  box-sizing: border-box;
  padding: 5px;
}
select {
  border-color: #ccc;
  background-color: #fff;
  background-image: url("../assets/down\ arrow\ icon_4184901.png");
  background-position: right 10px top 50%;
}

select:hover {
  background-color: #ddd;
}

.uploadfoto,
.uploadgambar {
  padding: 5%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border: 2px dashed #ffd311;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input[type="file"] {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
}
#uploadedImage,
#uploadedImagePosisi {
  max-width: 50%;
  max-height: 120px;
}
.active-dropzone {
  border: 2px dashed #333;
}
.Dropzone {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  border: 2px dashed #0055ff;
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  font-weight: 800;
}

.file-info {
  margin-top: 32px;
}
/* TEMPLATE 2 */
#app {
  padding-bottom: 50px;
}
.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table th,
.table td {
  padding: 8px;
  vertical-align: text-top;
  text-align: center;
}

.table thead th {
  background-color: #f2f2f2;
}

.table input[type="text"],
.table input[type="date"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
.tambah {
  background-color: #0055ff;
  color: white;
  font-weight: bold;
}
.hapus {
  background-color: red;
}
.hapus i {
  font-size: 12px;
  height: 5px;
  color: #ffffff;
}

.container-hobi {
  border: 1px solid #ddd;
  padding: 10px;
}

.table-hobi {
  width: 100%;
  border-collapse: collapse;
}

.table-hobi td,
.table-hobi th {
  border: 1px solid #ddd;
  padding: 5px;
}

.table-hobi th {
  text-align: center;
}
table.table-hobi th:first-child,
table.table-hobi td:first-child {
  width: 20%;
}

table.table-hobi th:last-child,
table.table-hobi td:last-child {
  width: 70%;
}
.container-validation {
  margin: 0 30px;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #ffffff;
}

#pertanyaan td {
  border: 1px solid #ddd;
}

#pertanyaan td:nth-child(2),
#pertanyaan td:nth-child(3) {
  width: 30px;
}

#pertanyaan td:nth-child(4) {
  width: 600px;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
    padding: 20px 0;
  }
  th {
    font-size: 14px;
  }
  .header {
    height: 300px;
    width: 100%;
  }
  .header:before {
    margin-top: 100px;
    size: 200px;
    animation: grow 5s infinite;
    -webkit-animation: grow 5s infinite;
  }

  @keyframes grow {
    0% {
      transform: scale(1) translateY(0px);
    }
    50% {
      transform: scale(1) translateY(-50px);
      -webkit-transform: scale(1) translateY(-50px);
      -moz-transform: scale(1) translateY(-50px);
      -ms-transform: scale(1) translateY(-50px);
      -o-transform: scale(1) translateY(-50px);
    }
  }

  .uploadfoto,
  .uploadgambar {
    height: 200px;
  }

  .table-responsive {
    overflow-x: auto;
  }
  .table-responsive table {
    font-size: 12px;
  }
  .table-responsive th,
  .table-responsive td {
    padding: 8px;
  }
}
