@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i");
@import url(https://kenvue.brightspotcdn.com/resource/00000186-0f04-dffd-a3ae-ef8c85cb0000/styleguide/assets/fonts/NHaasGroteskDSPro-15UltTh.fbef1a031d2f12524f469423101908c8.ttf);
html,
body {
  margin: 0;
  height: 120%;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
}
.header {
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 400px;
  color: #eee;
}
.header:after {
  content: "";
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    rgba(27, 32, 48, 0.8) 20%,
    rgba(51, 51, 51, 1) 100%
  );
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.header:before {
  content: "";
  width: 100%;
  height: 800px;
  position: absolute;
  transform: translateZ(0);
  background: #1b2030 url("./assets/SANQUA-2.jpg") 100% 0 no-repeat;
  background-size: 100%;
  animation: grow 25s linear 10ms infinite;
  transition: all 0.4s ease-in-out;
  z-index: -2;
}
.header a {
  color: #eee;
}

@keyframes grow {
  0% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1.2) translateY(-200px);
  }
}
#logoSide img {
  margin: 10px 20px;
  width: 80px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: 2px solid black;
}
#menuSide {
  position: relative;
}

.menu {
  display: block;
  width: 40px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  top: 20px;
  text-decoration: none;
  cursor: pointer;
  z-index: 1; /* Menempatkan menu di atas dropdown */
}

.menu:after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  background: #fff;
  position: absolute;
  margin: 0 auto;
  top: 5px;
  left: 0;
  right: 0;
  box-shadow: 0 8px, 0 16px;
}

.main-header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.login {
  border-radius: 50px;
  padding: 15px;
  margin: 0 15px;
  width: 140px;
  background: rgb(255, 255, 255);
  background-clip: padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login img {
  max-height: 20px;
  margin-right: 5px;
  align-items: center;
}

.login a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo img {
  max-width: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  align-content: center;
  margin: 20px 0 20px 20px;
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1;
  box-sizing: border-box;
}
.sides,
.info {
  flex: 0 0 auto;
  width: 50%;
}
.info {
  padding-top: 50px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5), 0 0 5px rgba(0, 0, 0, 0.5);
}

.info h4,
.meta {
  font-size: 0.7em;
}
.meta {
  font-style: italic;
}
.content {
  padding-top: 5%;
  text-align: justify;
}
.steppy {
  margin: 50px 100px;
}

.form-group {
  align-items: center;
  margin: 25px 0;
  text-align: left;
}

.form-group input,
select {
  margin-top: 0.5em;
}

.help-block {
  color: #999;
  font-size: 13px;
  margin-top: 5px;
}
label {
  font-weight: 600;
}
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  height: 100px;
}
select {
  appearance: none;
  background-image: url("https://www.w3.org/Graphics/SVG/WG/wiki/SVG_in_HTML");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px;
}
button {
  margin-top: 15px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  float: left;
}
button:hover {
  background-color: #ddd;
}
input[type="text"],
input[type="number"],
input[type="date"] {
  border: 1px solid #ccc;
  max-width: 100%;
  box-sizing: border-box;
  padding: 5px;
}
select {
  border-color: #ccc;
  background-color: #fff;
  background-image: url("./assets/down\ arrow\ icon_4184901.png");
  background-position: right 10px top 50%;
}

select:hover {
  background-color: #ddd;
}

.uploadfoto {
  padding: 5%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  border: 2px dashed #ffd311;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

input[type="file"] {
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
}
#uploadedImage {
  max-width: 50%;
  max-height: 100px;
}
.active-dropzone {
  border: 2px dashed #333;
}
.Dropzone {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  border: 2px dashed #0055ff;
  background-color: rgb(255, 255, 255);
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  font-weight: 800;
}

.file-info {
  margin-top: 32px;
}
/* TEMPLATE 2 */
#app {
  padding-bottom: 50px;
}
.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table th,
.table td {
  padding: 8px;
  vertical-align: middle;
  text-align: center;
}

.table thead th {
  background-color: #f2f2f2;
}

.table input[type="text"],
.table input[type="date"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
.tambah-saudara,
.tambah-anak,
.tambah-kuliah,
.tambah-kursus,
.tambah-bahasa,
.tambah-sosial {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.hapus {
  background-color: red;
}
.hapus i {
  font-size: 12px;
  color: #ffffff;
}

.tambah-saudara::after {
  content: "Saudara";
  color: rgb(255, 255, 255);
}
.tambah-anak::after {
  content: "Anak";
  color: rgb(255, 255, 255);
}
.tambah-kuliah::after {
  content: "Kuliah";
  color: rgb(255, 255, 255);
}
.tambah-kursus::after {
  content: "Kursus";
  color: rgb(255, 255, 255);
}
.tambah-bahasa::after {
  content: "Bahasa";
  color: rgb(255, 255, 255);
}
.tambah-sosial::after {
  content: "Kegiatan Sosial";
  color: rgb(255, 255, 255);
}
